// @font-face {
//     font-family: slidFont;
//     src: url(../assets/font/Ramen-Sans-Regular.otf  );
//   }
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
*{
    margin:0;
    padding: 0;
}
#app{
    margin: 0;
}
header{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 9999999;
    top: 0;
    .logo-box{
        width: 32%;
        float: left;    
        img{
            width: 395px;
            @media only screen and (max-width: 460px) {
                width: 243px;
                margin-top: 13px;
              }
        }
        @media only screen and (max-width: 460px) {
            width: 90%;
          }
    }
    .nav-bar{
        width: 67%;
        float: left;
        ul{
            list-style-type: none;
            margin-top: 51px;
            text-align: right;
            li{
                display: inline-block;
                padding: 9px 26px;
                position: relative;
                font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
                a{
                    font-weight: 100;
                    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
                    color: #000000ab;
                    text-decoration: none;
                }
                &.active{
                    background: #edcd1f;
                }
                .sub-menu{
                    // list-style-type: none;
                    display: none;
                    position: absolute;
                    width: 157px;
                    left: 0px;
                    top: 32px;
                    text-align: center;
                    background: white;
                
                    ul{
                        text-align: center;
                        margin-top: 0;
                        li{
                                padding: 7px 5px;
                            a{
                                font-size: 15px;
                            }
                        }
                    }
                }
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
                }
                @media only screen and (max-width: 1079px) {
                    display:none;
                  }
                  

                
            }
            .mobile-menu{
                display:none;
                @media only screen and (max-width: 1079px) {
                    
                        display:block;
                    
                  }
            }
            @media only screen and (max-width: 460px) {
                width: 10%;
              }
           
        }
          @media only screen and (max-width: 1079px) {
                    display:none !important;
                  }
                  
    }
    .mobile-menu{
        img{
            width: 26px;
            float: right;
            margin-top: 33px;
            margin-right: 17px;
        }
    }
    .mobile-menu-right{
        width: 350px;
        position: fixed;
        right: 0;
        height: 100%;
        background: white;
        top: 0px;
        z-index: 9999999;
        box-shadow: 5px -1px 20px 2px #0000006b;
        // display: none;
        ul{
            list-style-type: none;
            li{
                padding: 17px;
                border-bottom: 1px solid #e2e2e2;

                a{
                    color: #000000ab;
                    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
                }
                &:hover{
                    background: #00000017;
                    transition:.5s;
                    cursor: pointer;
                }
            }
        }
        p{    margin: 0;
            width: 100%;
            display: table;
            padding-bottom: 17px;
            border-bottom: 1px solid #eaeaea;
        
            img{
                width: 20px;
                float: right;
                margin-top: 14px;
                margin-right: 17px;
            }
        }
    }
.banner{
    background-image: url('img/banner.jpg');
    /* height: 80vh; */
    /* padding-top: 624px; */
    background-size: contain;
    background-repeat: no-repeat;
    // width: 841px;
    height: 490px;
    object-fit: cover;
    margin: auto;
    // object-position: 50% 50%;
    /* top: 151px; */
    /* position: absolute; */
    margin-top: 133px; 
    margin-bottom: 98px; 
    width: 64%;
    @media only screen and (max-width: 1019px) {
        width: 100% !important;
      }
      @media only screen and (max-width: 767px) {
    margin-bottom: 0px;
      }
      @media only screen and (max-width: 651px) {
        height: 393px;
          }
          @media only screen and (max-width: 591px) {
            height: 356px;
              }
              @media only screen and (max-width: 500px) {
                height: 303px;
                  }
                  @media only screen and (max-width: 430px) {
                    height: 253px;
                      }
                      @media only screen and (max-width: 370px) {
                        height: 227px;
                          
    }
}
.toget-sec{
    width: 100%;
    // display:display;
    position: relative;
    margin-top: 58px;
    .container{
        width: 96%;
        margin: auto;  
        background-color: rgb(232, 232, 232);
        // padding: 100px 0px;
        padding: 80px 0px;
        @media only screen and (max-width: 600px) {
            padding: 88px 0px;
          }
        
    }
    h1{
        font-size: 38px;
        // font-family: slidFont;
        color: #3D5975;
        font-weight: 600;   
        span{
            color: #edcd1f;
          
        }
        @media only screen and (max-width: 684px) {
            font-size: 29px;
          }
          @media only screen and (max-width: 600px) {
            font-size: 22px;
          }
          @media only screen and (max-width: 500px) {
            font-size: 14px;
          }
    }
}
.about{
    width: 70%;
    margin: auto;
    padding: 86px 0px;
    span{
        width: 100px;
        border-top: 10px solid #edcd1f;
        display: inline-block;
        margin-bottom: 15px;
    }
    h1{
        font: normal bold normal 55px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
        color: #949494;
        margin: 0;
        margin-bottom: 19px;
        @media only screen and (max-width: 500px) {
            // display:none;
            font-size: 41px;
          }
    }
    p{
        text-align: justify;
        font-size: 16.7px;
        margin: 0;
    line-height: 1.4;
    letter-spacing: normal;
    color: #00000094;
    }
}
.about-image-box{
    width: 94%;
    margin: auto;
    .about-image{
    background-image: url('.../../img/about1.png');
    height: 264px;
background-size: contain;
background-repeat: no-repeat;
@media only screen and (max-width: 950px) {
    height: 222px;
  }
  @media only screen and (max-width: 606px) {
    height: 189px;
  }
    }
}
.fluid-box{
    width: 100%;
    display: table;
    padding: 80px 0px;
    .fluid-left{
        width: 40%;
        float: left;
        background: #3d5975;
        // padding: 119px 51px;
        height: 526px;
        
          // @media only screen and (max-width: 1116px) {
          //   padding: 46px 51px;

          //   }

            // @media only screen and (max-width: 973px) {
            //     padding: 46px 29px;
    
            //     }
            
        p{
            font-size: 16px;
            text-align: justify;
            font-family: avenir-lt-w01_35-light1475496,sans-serif;
            color: white;
            padding: 108px 50px;
            line-height: 27px;
            @media only screen and (max-width: 1101px) {
              padding-top: 54px !important;
              }

              @media only screen and (max-width: 1008px) {
                line-height: 24px;
                }
            @media only screen and (max-width: 1026px) {
                font-size: 16px;
    
                }
                @media only screen and (max-width: 943px) {
                  padding: 29px;
      
                  }
        }
        @media only screen and (max-width: 836px) {
            width: 100% !important;
            height: 100%;

            }
    }
    .fluid-right{
        width: 60%;
        float: left;
        .fluid-image{
            background-image: url('.../../img/fluid-image.png');
            height: 526px;
            background-size: cover;
            @media only screen and (max-width: 836px) {
                // width: 100% !important;
                background-position: bottom;
                height: 327px;
    
                }
        }
        @media only screen and (max-width: 836px) {
            width: 100% !important;
            // height: 200px;

            }
       
    }
    @media only screen and (max-width: 1062px) {
        // display:none;
        padding-top: 0;
      }
}
.toget-sec{
    margin-top: 0 !important;
}












// contact***************

.contact{
    .contact-head{
    text-align: center;
    margin-bottom: 30px;
    h1{
    margin: 0;
    line-height: normal;
    letter-spacing: 0.05em;
    font: normal bold normal 55px/1.6em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #949494;
    // font-size: 65px;
    // font-weight: 600;
    @media only screen and (max-width: 500px) {
        // display:none;
        font-size: 41px;
      }
    }
    span{
    width: 100px;
    border-top: 10px solid #edcd1f;
    display: inline-block;
    }
    }
    .map{
    width: 70%;
    margin: 0 auto;
    .contact-detail{
    width: 100%;
    // position: relative;
    display: table;
    padding: 0px 10px;
    padding-top: 36px;
    // z-index: -1;

    .contact-detail1{
      text-align: left;
      width: 48%;
      float: left;
      padding-right: 96px;
  
    // z-index: -1;

    .inqui{
        text-align: left;
    h4{
    color: #1E2D3B;
    font-weight: 600;
    font-size: 22px;
    }
    p{
    color: #827a7a;
    font-size: 17px;
    padding: 12px 0px;
    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    }
    }
    .contact-form{
      overflow: hidden;
    h4{
    color: #1E2D3B;
    font-weight: 600;
    font-size: 22px;
    }
    .formm{
    margin: 20px 0px;
    margin-bottom: 0;
    .detail{
    label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #827a7a;
    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    }
    
    input{
    border: none;
    background: #f7f7f7;
    color: #3D5975;
    display: block;
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
    // padding: 6px;
    padding: 5px 6px;
    &:hover{
    background:rgba(198, 198, 198, 1);
    }
    }
    textarea{
    width: 100% !important;
    height: 150px !important;
    border: none;
    background: #f7f7f7;
    color: #3D5975;
    font-size: 17px;
    padding: 6px;
    
    }
    a{
        background: #3b3a3a;
        color: #EDCD1F;
        padding: 10px 42px;
        transition: 0.4s;
        font-size: 14px;
        float: right;
        margin-top: 6px;
        font-weight: 700;
        display: none;
    
    
    &:hover{
    background:#EDCD1F;
    color: #3b3a3a;
    transition: 0.4s;
    }
    @media only screen and (max-width: 767px) {
        display: inline;
    }
    }
    }
    }
    }
    @media only screen and (max-width: 767px) {
        // width: 100% !important;
      width: 100%;
      padding-right: 0;

        }
    }
    .contact-detail2{
    width: 37%;
    float: left;
    text-align: left;
    font: normal normal normal 25px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    // z-index: -1;

    .inqui{
    h4{
        color: #1E2D3B;
        font-weight: 600;
        font-size: 22px;
    }
    p{
    color: #827a7a;
    font-size: 17px;
    padding: 12px 0px;
    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;

    }
    }
    ul{
    list-style: none;
    margin-top: 15px;
    li{
        text-align:left;
    margin-bottom: 14px;
    img{
    width: 25px;
    float: left;
    }
    span{
    padding-top: 10px;
    display: inline-block;
    font-size: 18px;
    padding-left: 7px;
    font-weight: 300;
    font: normal normal normal 15px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #827a7a;
    @media only screen and (max-width: 767px) {
   
      font: normal normal normal 13px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;

      }
    }
    }
    }
    .social{
    h4{
    color: #1E2D3B;
    font-weight: 600;
    }
    ul{
    list-style: none;
    margin-top: 25px !important;
    li{
        background: black;
        padding: 8px 6px;
        border-radius: 24px;
        display: inline-block;
        margin-right: 5px;
    img{
     
    }
    }
    }
    }
    @media only screen and (max-width: 767px) {
        // width: 100% !important;
      width: 100%;

        }
    }
    @media only screen and (max-width: 767px) {
        // width: 100% !important;
      width: 100%;

        }
    }
    @media only screen and (max-width: 1275px) {
        // width: 100% !important;
      width: 92%;

        }
    }
    }
    .sec-padding{
    padding:60px 0px;
    }
    
    .fotter{
    width: 100%;
    display: table;
    position:relative;
    background:#e3e3e3;
    padding: 22px 0px;
    z-index: -1;

    .logodiv{
    width: 30%;
    float: left;
    img{
        float: left;
        padding-left: 39px;
        @media only screen and (max-width: 370px) {
          // width: 100% !important;
        display: block;
        margin: auto !important;
        float: none;
        padding-left: 0px;

          }
    }
    @media only screen and (max-width: 370px) {
        // width: 100% !important;
      width: 100%;

        }
    }
    .fotter-sec2{
    width: 70%;
    float: left;
    .social{
    text-align: center;
    ul{
    list-style: none;
    margin-top: 25px;
    margin-top: 36px;
    text-align: right;
    padding-right: 156px;
    @media only screen and (max-width: 540px) {
        // width: 100% !important;
        padding-right: 20px;


        }
        @media only screen and (max-width: 370px) {
          // width: 100% !important;
    text-align: center;
    padding-right: 0;

          }
    li{
    display: inline-block;
    img{
    text-align: -webkit-center;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin-right: 12px;
    }
    }
    }
    }
    @media only screen and (max-width: 370px) {
        // width: 100% !important;
      width: 100%;

        }
    }
    }

    .sub-box{
        width: 100%;
        display: table;
        padding-bottom: 70px;
        .sub-btn-box{
            width: 50%;
            float: left;
            padding-right: 84px;
            a{
                background: #3b3a3a;
    color: #EDCD1F;
    padding: 10px 42px;
    transition: 0.4s;
    font-size: 14px;
    float: right;
    margin-top: 6px;
    font-weight: 700;
            }
        }
        .sub-line-box{
            width: 43%;
            float: left;
            span{
                width: 64px !important;
    border-top: 10px solid #edcd1f;
    display: inline-block;
    width: 100px;
    border-top: 10px solid #edcd1f;
    display: inline-block;
    float: left;
    margin-top: 29px;
            }

        }
        @media only screen and (max-width: 767px) {
            display:none;
        }
    }









    // mobile nav ******
    .content {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        left: 0;
        right: 0;
        text-align: center;
      }
      
      .button1 {
        position: absolute;
        height: 40px;
        width: 100px;
        // background: white;
        right: 0px;
        top: 15px;
        cursor: pointer;
        @media only screen and (max-width: 687px) {
          right: 21px;
          // margin-top: 7px;
        }
        @media only screen and (max-width: 423px) {
          right: 0px;
          // margin-top: 7px;
        }
        @media only screen and (max-width: 344px) {
          right: 0px;
          top: 7px;
        }
      }
      
      .button1 p img{
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%) translateY(-50%);
        color: black;
        -webkit-user-select: none;
        /* Chrome/Safari */
        
        -moz-user-select: none;
        /* Firefox */
        
        -ms-user-select: none;
        /* IE10+ */
        /* Rules below not implemented in browsers yet */
        
        -o-user-select: none;
        user-select: none;
      }
      
      .button2 {
        position: absolute;
        height: 40px;
        width: 100px;
        // background: white;
        cursor: pointer;
        right: 0px;
        top: 15px;
        @media only screen and (max-width: 687px) {
          right: 21px;
          // margin-top: 7px;
        }
        @media only screen and (max-width: 423px) {
          right: 0px;
          // margin-top: 7px;
        }
        @media only screen and (max-width: 344px) {
          right: 0px;
          top: 7px;
        }
      }
      
      .button2 p img{
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%) translateY(-50%);
        color: black;
        -webkit-user-select: none;
        /* Chrome/Safari */
        
        -moz-user-select: none;
        /* Firefox */
        
        -ms-user-select: none;
        /* IE10+ */
        /* Rules below not implemented in browsers yet */
        
        -o-user-select: none;
        user-select: none;
      }
      
      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #edcd1f;
        text-align: center;
        left: 0;
        right: 0;
        height: 100vh;
        display: none;
        overflow: auto;
      }
      
      nav ul {
        font-size: 4em;
        list-style: none;
        margin-top: 5%;
        margin-top: 11%;
      }
      
      nav ul li {
        margin-top: 1%;
        font-size: 38px;
        font: normal normal normal 20px/1.4em helvetica-w2-light,helvetica-w3-light,sans-serif;
        color: #000000d9;
        padding: 12px;
        &:hover{
            color: white;
            cursor: pointer;
           
        }
        a{
          text-decoration: none;
          color: #000000d9;
        }
      }
      .mobile-menu{
          display: none;
          .mobile-logo-box{
              width: 90%;
              float: left;
              img{
                float: left;
                width: 358px;
                padding-left: 24px;
                margin-top: 0px;
                @media only screen and (max-width: 502px) {
                    width: 300px;
                    // margin-top: 7px;
                  }
                  @media only screen and (max-width: 400px) {
                    width: 281px;
                    margin-top: 3px;
                  }
                  @media only screen and (max-width: 370px) {
                    width: 236px;
                    margin-top: 8px;
                  }
              }
          }
          .mobile-btn-box{
              width: 10%;
              float: left;
          }
          @media only screen and (max-width: 1079px) {
            display: block;
            /* display: table; */
            width: 100%;
            background: white;
            position: fixed;
            top: 0;
            height: 98px;
            z-index: 99999999;
            
            }
      }









    //   acordian
      /* Accordion styles */

      .accordian-main{
        .tabs {
            border-radius: 8px;
            overflow: hidden;
            // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          }
          
          .tab {
            width: 100%;
            color: white;
            overflow: hidden;
            margin: 33px 0px;
          }
          .tab-label {
            // display: -webkit-box;    
            // display: flex;
            -webkit-box-pack: justify;
                    justify-content: space-between;
            padding: 1em;
            background: #edcd1f;
            font-weight: bold;
            cursor: pointer;
            padding: 13px 0px;
            font: normal normal normal 20px/1.4em helvetica-w2-light,helvetica-w3-light,sans-serif;
            color: #000000d9;
            /* Icon */
          }
          .tab-label:hover {
            background: #edcd1f;
          }
          .tab-label::after {
            content: "\276F";
            // content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
            /* right: 80%; */
            position: absolute;
            right: 24%;
          }
          .tab-content {
            max-height: 0;
            padding: 0 1em;
            color: black;
            background: #edcd1f;
            -webkit-transition: all .35s;
            transition: all .35s;
            font: normal normal normal 20px/1.4em helvetica-w2-light,helvetica-w3-light,sans-serif;
            a{
              text-decoration: none;
              color: #000000d9;
            }
          }
          .tab-close {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: end;
                    justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #edcd1f;
            cursor: pointer;
          }
          .tab-close:hover {
            background: #edcd1f;
          }
          
          input:checked + .tab-label {
            background: #edcd1f;
          }
          input:checked + .tab-label::after {
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    opacity: 1;
          }
          input:checked ~ .tab-content {
            max-height: 100vh;
            padding: 18px 0px;
          }
          #chck1{
              display: none;
          }
          #chck2{
            display: none;
        }
      }






      // ***********************about-company*****************************************
.linnes{
  width: 75px;
  border-top: 10px solid #edcd1f;
  display: inline-block;
  }
  #abt-company{
    text-align: left;
  position:relative;
  padding-bottom: 80px;
  width: 100%;
  display: table;
  margin-top: 114px;

  .abt-company-main{
  width: 100%;
  
  .abt-company-1{
  width: 50%;
  float: left;
  .abt-company-img{
  height: 520px;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/about-com.jpg');
  @media (max-width: 991px){
  height: 350px;
  }
  }
  @media (max-width: 991px){
  width: 100%;
  }
  }
  .abt-company-2{
  width: 50%;
  float: left;
  height: 520px;
  .abt-company-content{
  // width: 464px;
  margin-left: 0px;
  margin-top: 20px;
  padding: 0px 37px;
  h2{
  color: #6d6a6a;
  letter-spacing: 0.05em;
  font-size: 52px;
  line-height: 0.9em;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  margin-top: 35px;
  @media(max-width: 460px){
  font-size: 40px;
  }
  }
  p{
    color: #3b3a3abd;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }
  @media (max-width: 1024px){
  // width: 100%;
  padding-right:10px;
  margin-left: 0px;
  padding-left:0px;
  }
  @media (max-width: 991px){
    padding: 0px 37px;

  }
  
  }
  @media (max-width: 991px){
  width: 100%;
  height: auto;
  padding-top:25px;
  }
  }
  }
  @media (max-width: 991px){
  padding-bottom: 40px;
  }
  }
  // ***********************about-company-end*****************************************
  .linne{
  text-align: center;
  }
  .fltright{
  float: right !important;
  }
  
  #abt-vission{
  padding: 20px 0px 70px 0px;
  .abt-vission-head{
  text-align: center;
  h3{
  color: #757373;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 16px;
  
  }
  p{
  color: #3b3a3ad9;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 35px;
  color: #3b3a3abd;
  
  @media (max-width: 1090px){
  width: 80%;
  }
  @media (max-width: 685px){
  width: 90%;
  }
  @media (max-width: 610px){
  font-size: 15px;
  }
  }
  
  }
  .abt-vis-mis{
  width: 940px;
  display: table;
  margin: 0 auto;
  .abt-mis-main{
  width: 100%;
  padding-top: 60px;
  
  .abt-mis-main1{
  width: 49%;
  position: relative;
  float: left;
  // padding:0px 15px;
  height: 463px;
  background-image: url('../assets/img/vission.jpg');
  .abt-mis-cont{
  position:relative;
  padding: 50px 50px 50px 50px;
  h4{
  color: #d4b50d;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 15px;
  }
  p{
    color: white;
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 70px;
    font-weight: 400;
  @media(max-width: 810px){
  margin-bottom: 40px;
  }
  }
  .comma-img{
  width: 50px;
  margin: 0 auto;
  img{
    width: 47px;
  }
  @media(max-width: 460px){
  width: 40px;
  }
  }
  @media(max-width: 940px){
  padding:35px;
  }
  @media(max-width: 460px){
  padding:20px;
  }
  }
  &:before{
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(61, 89, 117, 0.61);
  left:0;
  }
  @media(max-width: 940px){
  padding:0px;
  height: 450px;
  }
  @media(max-width: 767px){
  width: 100%;
  margin-bottom: 25px;
  height: auto;
  float: none;
  background-size:cover;
  background-position: center;
  }
  }
  @media(max-width: 460px){
  padding-top:30px;
  }
  }
  @media(max-width: 991px){
  width: 96%;
  }
  }
  @media(max-width: 767px){
  padding:20px 0px 40px 0px;
  }
  }
  
  #abt-found{
  position:relative;
  width: 100%;
  background-color:#f7f7f7;
  display: table;
  margin-top: 114px;
text-align:left;
  .abt-found-main{
  width: 100%;
  
  .abt-found-1{
  width: 50%;
  float: left;
  .abt-found-img{
  height: 540px;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/about-found.jpg');
  @media (max-width: 991px){
  height: 350px;
  }
  }
  @media (max-width: 991px){
  width: 100%;
  }
  }
  .abt-found-2{
  width: 50%;
  float: left;
  height: 540px;
  .abt-found-content{
  // width: 464px;
  margin-left: 30px;
  margin-top: 20px;
  h2{
  color: #757373;
  letter-spacing: 0.05em;
  font-size: 52px;
  line-height: 0.9em;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  @media(max-width: 460px){
  font-size: 40px;
  }
  @media(max-width: 380px){
  font-size: 34px;
  }
  }
  p{
  color: #3b3a3abd;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  }
  @media (max-width: 1024px){
  // width: 100%;
  padding-right:10px;
  margin-left: 0px;
  padding-left:30px;
  }
  @media (max-width: 991px){
  padding-right:15px;
  padding-left:15px;
  }
  }
  @media (max-width: 991px){
  width: 100%;
  height: auto;
  padding-top:25px;
  }
  }
  }
  @media (max-width: 991px){
  padding-bottom: 40px;
  }
  }



  // ***************************// #about-foun


#abt-foun{
  padding: 80px 0px 70px 0px;
  .abt-vission-head{
  text-align: center;
  h3{
  color: #757373;
  font-size: 35px;
  font-weight: 600;
  padding: 20px 0px;
  
  }
  p{
  color: #3b3a3abd;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;

  
  @media (max-width: 1090px){
  width: 80%;
  }
  @media (max-width: 685px){
  width: 90%;
  }
  @media (max-width: 610px){
  font-size: 15px;
  }
  }
  
  }
  
  @media(max-width: 767px){
  padding:20px 0px 40px 0px;
  }
  }
  // ***************************// #about-foun




  // ***************************// #about-startege
#about-startege{
  height: 78vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  position:relative;
  margin-top: 114px;
  background-image: url('../assets/img/about-ban.jpg');

  .about-startege2{
  width: 50%;
  float: right;
  height: 100%;
  background-color: rgba(255, 255, 254, 0.74);
  padding: 40px 40px;
  padding-bottom: 0;
  h3{
  color: #444444;
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  }
  p{
  font-size: 16px;
  color: #3b3a3abd;
  }
  ul{
  list-style-type: none;
  margin-top: 20px;
  li{
  display: flex;
  margin-bottom: 15px;
  color: #3b3a3abd;
  img{
  width: 22px;
  margin-right: 20px;
  }
  span{
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
  @media(max-width: 460px){
  font-size: 15px;
  }
  }
  }
  }
  @media(max-width: 776px){
  width: 100%;
  float: none;
  }
  @media(max-width: 460px){
  padding:40px 20px;
  }
  }
  @media(max-width: 776px){
  padding-top: 50%;
  height: auto;
  }
  @media(max-width: 540px){
  height: auto;
  }
  }
  // ***************************// #about-startege
  
  
  
  




      // ***************************// #about-philospy
#about-philospy{
  background-image: url('../assets/img/carrie-ban.jpg');
  height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    position:relative;
    margin-top: 114px;
    margin-bottom: 41px;
    text-align:left;
  .about-startege2{
       width: 50%;
    height: 100%;
    margin-left: 50%;
    background-color: rgba(255, 255, 254, 0.74);
        // padding: 40px 40px;
.startege2-main{
  // width: 75%;
  padding: 40px 30px 40px 30px;
          h3{
           color: #444444;
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 20px;
        }
        p{    
          font-size: 16px;
    margin-bottom: 22px;
    color: #3b3a3abd;

        }
        ul{   
         margin-top: 20px;
         padding-left: 20px;
          li{
                margin-bottom: 15px;
            img{
             width: 22px;
    margin-right: 20px;
            }
            span{
                  display: inline-block;
    font-size: 16px;
        margin-top: 2px;
         @media(max-width: 460px){
          font-size: 15px;
         }
            }
          }
        }
@media(max-width: 1200px){
  // width: 90%;
}
@media(max-width: 991px){
  // width: 100%;
}
}
        @media(max-width: 776px){
          width: 100%;
          margin-left: 0;

        }
        @media(max-width: 460px){
          padding:40px 20px;
        }
  }
  @media(max-width: 776px){
    padding-top: 50%;
    height: auto;
  }
}
// ***************************// #about-philospy









// ***************************// #about-philospy
#about-philospy1{
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  position:relative;
  margin-top: 114px;
  margin-bottom: 41px;
  background-image: url(../assets/img/about-ban.jpg);
  text-align: left;
  .about-startege2{
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background-color: rgba(255, 255, 254, 0.74);
  // padding: 40px 40px;
  .startege2-main{
  // width: 75%;
  padding: 30px 20px 30px 46px;
  h3{
  color: #444444;
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  }
  p{
  font-size: 16px;
  margin-bottom: 22px;
  color: #3b3a3abd;
  
  }
  ul{
  margin-top: 20px;
  padding-left: 20px;
  li{
  margin-bottom: 15px;
  img{
  width: 22px;
  margin-right: 20px;
  }
  span{
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
  @media(max-width: 460px){
  font-size: 15px;
  }
  }
  }
  }
  @media(max-width: 1200px){
  // width: 90%;
  // padding-left: 10px;

  }
  @media(max-width: 991px){
  // width: 100%;
  // padding-left: 10px;

  }
  }
  @media(max-width: 776px){
  width: 100%;
  margin-left: 0;
  
  }
  @media(max-width: 460px){
  // padding:40px 20px;
  }
  }
  @media(max-width: 776px){
  padding-top: 50%;
  height: auto;
  }
  }
  // ***************************// #about-philospy






  // <!-- ******************************our-investment*********************************** -->



#our-investment{
  height: auto;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  position:relative;
  background-image: url('../assets/img/investment.jpg');
  margin-top: 114px;
  text-align: left;
  margin-bottom: 41px;
  .about-startege2{
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background-color: rgba(255, 255, 254, 0.74);
  // padding: 40px 40px;
  .startege2-main{
    padding: 35px 36px 35px 36px;
  // width: 75%;
  h3{
  color: #444444;
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  }
  p{
  font-size: 16px;
  margin-bottom: 22px;
  line-height: 1.5;
  color: #3b3a3abd;
  }
  ul{
  margin-top: 20px;
  padding-left: 20px;
  li{
  margin-bottom: 15px;
  img{
  width: 22px;
  margin-right: 20px;
  }
  span{
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
  @media(max-width: 460px){
  font-size: 15px;
  }
  }
  }
  }
  @media(max-width: 1200px){
  // width: 90%;
  }
  @media(max-width: 991px){
  // width: 100%;
  }
  }
  @media(max-width: 776px){
  width: 100%;
  margin-left: 0;
  
  }
  @media(max-width: 460px){
  padding:40px 20px;
  }
  }
  @media(max-width: 776px){
  padding-top: 50%;
  height: auto;
  }
  }
  
  // <!-- ******************************our-investment*********************************** -->







  #petroleum-sector{
  margin-top: 114px;
  text-align: left;
    .investment-container{
    width: 980px;
    margin: 0 auto;
    .investment-head{
    padding: 35px 10px;
    h1{
    color: #757373;
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 15px;
    }
    p{
    margin-bottom: 34px;
    font-size: 15px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 500; 
       color: #3b3a3abd;
    font-size: 16px;
    }
    }
    .investment-box{
    padding: 40px 30px;
    overflow: hidden;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/crystal.jpg);
    .investment-box-main{
    width: 100%;
    .investment-box-img{
    float: left;
    width: 16%;
    padding-right: 20px;
    img{
    height: 180px;
    @media(max-width: 700px){
      display: block;
      margin: auto;
      }
    }
    @media(max-width: 991px){
      width: 22%;
      }
      @media(max-width: 700px){
        width: 100%;
        }
    }
    .investment-box-content{
    width: 80%;
    float: left;
    h5{
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 27px;
    @media(max-width: 700px){
      text-align:center;
      }
    }
    h6{
    color: #2C6FB0;
    font-weight: 500;
    line-height: normal;
    padding-top: 6px;
    padding-bottom: 15px;
    font-size: 18px;
    @media(max-width: 700px){
      text-align:center;
      }
    }
    p{
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    line-height: 21px;
    color: #3b3a3abd;
    font-size: 16px;
    }
    @media(max-width: 991px){
      width: 72%;
      }
      @media(max-width: 700px){
        width: 100%;
        }
    }
    }
    @media(max-width: 923px){
      padding: 26px 9px;
      }
  
    }
    @media(max-width: 1024px){
    width: 96%;
    }
   
    }
    }




     // <!-- ******************************our-investment*********************************** -->







  #power-sector{
    margin-top: 114px;
    text-align: left;
      .investment-container{
      width: 980px;
      margin: 0 auto;
      .investment-head{
      padding: 35px 10px;
      h1{
      color: #757373;
      margin: 0;
      line-height: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-size: 52px;
      margin-bottom: 15px;
      }
      p{
      margin-bottom: 34px;
      font-size: 15px;
      letter-spacing: normal;
      line-height: normal;
      font-weight: 500;
      color: #3b3a3abd;
      font-size: 16px;
      }
      }
      .investment-box{
      padding: 40px 30px;
      overflow: hidden;
      margin-bottom: 30px;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/img/crystal.jpg);
      .investment-box-main{
      width: 100%;
      .investment-box-img{
      float: left;
      width: 31%;
      padding-right: 20px;
      img{
      height: 180px;
      @media(max-width: 700px){
        display: block;
        margin: auto;
        }
      }
      @media(max-width: 991px){
        width: 31%;
        }
        @media(max-width: 878px){
          width: 36%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      .investment-box-content{
      width: 65%;
      float: left;
      h5{
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
      font-size: 34px;
      margin-bottom: 20px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      h6{
      color: #2C6FB0;
      font-weight: 500;
      line-height: normal;
      padding-top: 6px;
      padding-bottom: 15px;
      font-size: 18px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      p{
      font-size: 15px;
      font-weight: 500;
      text-align: justify;
      line-height: 21px;
      color: #3b3a3abd;
      font-size: 16px;
      }
      @media(max-width: 991px){
        width: 65%;
        }
        @media(max-width: 878px){
          width: 61%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      }
      @media(max-width: 923px){
        padding: 26px 9px;
        }
    
      }
      @media(max-width: 1024px){
      width: 96%;
      }
     
      }
      }


      // <!-- ******************************our-investment*********************************** -->







  #real-sector{
    margin-top: 114px;
    text-align: left;
      .investment-container{
      width: 980px;
      margin: 0 auto;
      .investment-head{
      padding: 35px 10px;
      h1{
      color: #757373;
      margin: 0;
      line-height: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-size: 47px;
      margin-bottom: 15px;
      }
      p{
      margin-bottom: 34px;
      font-size: 15px;
      letter-spacing: normal;
      line-height: normal;
      font-weight: 500;
      color: #3b3a3abd;
      font-size: 16px;
      }
      }
      .investment-box{
      padding: 40px 30px;
      overflow: hidden;
      margin-bottom: 30px;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/img/crystal.jpg);
      .investment-box-main{
      width: 100%;
      .investment-box-img{
      float: left;
      width: 31%;
      padding-right: 20px;
      img{
      height: 180px;
      @media(max-width: 700px){
        display: block;
        margin: auto;
        }
      }
      @media(max-width: 991px){
        width: 31%;
        }
        @media(max-width: 878px){
          width: 36%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      .investment-box-content{
      width: 65%;
      float: left;
      h5{
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
      font-size: 34px;
      margin-bottom: 20px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      h6{
      color: #2C6FB0;
      font-weight: 500;
      line-height: normal;
      padding-top: 6px;
      padding-bottom: 15px;
      font-size: 18px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      p{
      font-size: 15px;
      font-weight: 500;
      text-align: justify;
      line-height: 21px;
      color: #3b3a3abd;
      font-size: 16px;
      }
      @media(max-width: 991px){
        width: 65%;
        }
        @media(max-width: 878px){
          width: 61%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      }
      @media(max-width: 923px){
        padding: 26px 9px;
        }
    
      }
      @media(max-width: 1024px){
      width: 96%;
      }
     
      }
      }

      
      // <!-- ******************************our-investment*********************************** -->







  #health-sector{
    margin-top: 114px;
    text-align: left;
      .investment-container{
      width: 980px;
      margin: 0 auto;
      .investment-head{
      padding: 35px 10px;
      h1{
      color: #757373;
      margin: 0;
      line-height: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-size: 47px;
      margin-bottom: 15px;
      }
      p{
      margin-bottom: 34px;
      font-size: 15px;
      letter-spacing: normal;
      line-height: normal;
      font-weight: 500;
      color: #3b3a3abd;
      font-size: 16px;
      }
      }
      .investment-box{
      padding: 40px 30px;
      overflow: hidden;
      margin-bottom: 30px;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/img/crystal.jpg);
      .investment-box-main{
      width: 100%;
      .investment-box-img{
      float: left;
      width: 31%;
      padding-right: 20px;
      img{
      height: 180px;
      @media(max-width: 700px){
        display: block;
        margin: auto;
        }
      }
      @media(max-width: 991px){
        width: 31%;
        }
        @media(max-width: 878px){
          width: 36%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      .investment-box-content{
      width: 65%;
      float: left;
      h5{
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
      font-size: 34px;
      margin-bottom: 20px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      h6{
      color: #2C6FB0;
      font-weight: 500;
      line-height: normal;
      padding-top: 6px;
      padding-bottom: 15px;
      font-size: 18px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      p{
      font-size: 15px;
      font-weight: 500;
      text-align: justify;
      line-height: 21px;
      color: #3b3a3abd;
      font-size: 16px;
      }
      @media(max-width: 991px){
        width: 65%;
        }
        @media(max-width: 878px){
          width: 61%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      }
      @media(max-width: 923px){
        padding: 26px 9px;
        }
    
      }
      @media(max-width: 1024px){
      width: 96%;
      }
     
      }
      }


            // <!-- ******************************our-investment*********************************** -->







  #it-sector{
    margin-top: 114px;
    text-align: left;
      .investment-container{
      width: 980px;
      margin: 0 auto;
      .investment-head{
      padding: 35px 10px;
      h1{
      color: #757373;
      margin: 0;
      line-height: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-size: 47px;
      margin-bottom: 15px;
      }
      p{
      margin-bottom: 34px;
      font-size: 15px;
      letter-spacing: normal;
      line-height: normal;
      font-weight: 500;
      color: #3b3a3abd;
      font-size: 16px;
      }
      }
      .investment-box{
      padding: 40px 30px;
      overflow: hidden;
      margin-bottom: 30px;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/img/crystal.jpg);
      .investment-box-main{
      width: 100%;
      .investment-box-img{
      float: left;
      width: 31%;
      padding-right: 20px;
      img{
      height: 180px;
      @media(max-width: 700px){
        display: block;
        margin: auto;
        }
      }
      @media(max-width: 991px){
        width: 31%;
        }
        @media(max-width: 878px){
          width: 36%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      .investment-box-content{
      width: 65%;
      float: left;
      h5{
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
      font-size: 34px;
      margin-bottom: 20px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      h6{
      color: #2C6FB0;
      font-weight: 500;
      line-height: normal;
      padding-top: 6px;
      padding-bottom: 15px;
      font-size: 18px;
      @media(max-width: 700px){
        text-align:center;
        }
      }
      p{
      font-size: 15px;
      font-weight: 500;
      text-align: justify;
      line-height: 21px;
      color: #3b3a3abd;
      font-size: 16px;
      }
      @media(max-width: 991px){
        width: 65%;
        }
        @media(max-width: 878px){
          width: 61%;
          }
        @media(max-width: 700px){
          width: 100%;
          }
      }
      }
      @media(max-width: 923px){
        padding: 26px 9px;
        }
    
      }
      @media(max-width: 1024px){
      width: 96%;
      }
     
      }
      }